// start .sContent
.sContent {

	.section-title{
		p{
			strong{
				@extend .h2;
				display: block;
			}
		}
	}
	&__input{
		padding: rem(16) rem(24);
		font-weight: bold;
	}
	&__title{
		@extend .alert;
		@extend .alert-warning;
		margin-bottom: rem(40);
	}
	&__series-title{
		color: $gray-800;
		font-weight: 500;
		font-size: rem(18);
		margin-bottom: rem(20);

		strong{
			color: $black;
			//font-size: rem(24);
		}
	}
	&__number{
		padding: rem(3) rem(6);
		border-radius: rem(4);
		border: 1px solid $gray-400;
		background-color: $gray-100;

		&.bg-warning{
			background-color: rgba($warning, .25) !important;
		}

	}
	&__show-default{
		@extend .btn;
		@extend .btn-secondary;

		display: block;
	}
	&__{}
	&__{}
} // end.sContent