mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span

mixin mob-mnu()
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row.align-items-center
				.col
					+e.logo(href="/")
						+e.flag
						+e.hashtag #STOPinfoterror
				.col-auto.d-none.d-sm-block
					+e.descr Перевірка серії паспорту
					
	// end top-nav